.chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.chakra-petch-light-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-medium-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 32px;
    }
    
    section.ofertas {
        flex-direction: column;
        align-items: center;
    }
    
    img {
        max-width: 80%;
        margin: 10px 0;
    }
}


body {
    font-family: "Chakra Petch", sans-serif;
    background: radial-gradient(ellipse at center, #000000, #ffffff );
    margin: 0;    
}

header {
    background-color: #000000;
    color: yellowgreen;    
    text-align: center;
    text-shadow: black 3px 2px 2px;
    padding: 20px;
    font-weight: bold;
    font-size: 20px
}

a {
    color: white;
    text-decoration: none;
    
    
}

a:hover {
    text-decoration: underline;
    color: yellowgreen;   
}

h1 {
    font-size: 72px;
    margin: 0;
    color: white;
    text-shadow: yellowgreen 3px 2px 2px;
    text-align: center;
}

h2 {
    font-size: 52px;
    margin: 20px 0;
    color: yellowgreen;
    text-align: center;
    text-shadow: white 2px 2px 2px;
}

video {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

section.ofertas {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    
}   
section {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;

}

img {
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    align-items: center;
}

footer {
    background-color: #313131;
    color: white;
    text-align: center;
    padding: 10px;
    position: bottom;
    width: 100%;
    bottom: 0;
}

button {
    background-color: yellowgreen;
    color: white;
    border: white 2px solid;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

button:hover {
    background-color: black;
    color: yellowgreen;
    border: yellowgreen 2px solid;
}