.chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.chakra-petch-light-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-medium-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* 🔹 Tablets (>= 576px) */
@media screen and (min-width: 576px) {
    body {
        font-size: 17px;
    }
}

/* 🔹 Tablets grandes (>= 768px) */
@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

/* 🔹 Laptops (>= 992px) */
@media screen and (min-width: 992px) {
    body {
        font-size: 19px;
    }
}

/* 🔹 Pantallas grandes (>= 1200px) */
@media screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}

body {
    font-family: "Chakra Petch", sans-serif;
    background: radial-gradient(ellipse at center, #000000, #ffffff );
    margin: 0;    
}

header:hover {
    background-color: black;
    transition: background-color 1s ease;
    padding: 20px;
    text-align: center;
}





h1 {    
    margin: 0;
    color: white;
    text-shadow: yellowgreen 2px 2px;
    text-align: center;
}

h2 {    
    margin: 20px 0;
    color: yellowgreen;
    text-align: center;
    text-shadow: white 2px 2px 2px;
}

main {
    padding: 20px;
    text-align: center;
}



section {
    background-color: #080808;
    color: yellowgreen;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    display: inline-block;    
    
}

li {
    font-size: 18px;
    line-height: 1.5;
    color: white;
    text-shadow: rgb(0, 0, 0) 1px 1px 1px;
    text-align: left;
    margin-left: 20px;
}


a {
    color: white;
    text-decoration: none;
        
}

a:hover {
    text-decoration: underline;
    color: yellowgreen;   
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: white;
    text-shadow: rgb(0, 0, 0) 1px 1px 1px;
    text-align: center;
}

button {
    background-color: black;
    color: yellowgreen;
    border: yellowgreen 2px solid;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

button:hover {
    background-color: yellowgreen;
    color: black;
    border: black 2px solid;    
}



footer img {
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    align-items: center;
}


footer {
    background-color: #313131;
    color: rgb(170, 255, 0);
    text-align: center;
    padding: 10px;
    position: bottom;
    width: 100%;
    bottom: 0;
}